
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root{
    --orange-main:#F96900;
    --orange-light:#FFF0E6;
    --orange-dark:#D15700;
    --grey-dark:#73798C;
    --grey-light:#F3F3F7;
}
*{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 19.1px;
}
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.logo{
    max-width: 248.61px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.logo_text h1{
    font-weight: 800;
    width: 100%;
    height: 22px;
    font-size: 24px;
}
.logo_text p{
    max-width: 161px;
    width: 100%;
    color: #343434;
    font-size: 12px;
    line-height: 16.37px;
    padding-top: 10px;
}
#tel a{
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.55px;
}
#tel p{
    color: #999999;
    font-weight: 400;
    font-size: 11px;
    line-height: 20.46px;
    text-align: end;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: black;
    transition: 0.1s;
}
.menu a:hover{
    color: var(--orange-main);
}
.menu{
    max-width: 467px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 41px 0;
}
.btn_basket{
    background-color: var(--orange-light);
    width: 104px;
    height: 40px;
    border-radius: 1000px;
    color: var(--orange-dark);
    font-weight: 400;
    transition: 0.3s;
}
.btn_basket:hover{
    background-color: var(--orange-main);
    color: white;
}
.main_img img{
    border-radius: 20px;
}
.block_new_card{
    display: flex;
    justify-content: space-between;
}
.new_card{
    max-width: 250px;
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 6px 25px 0 #0605320D;
    border-radius: 5%;
}
.new_card:hover{
    box-shadow:0 15px 60px 0 #0605320D;
}
.new_card_text{
    padding-right: 50px;
}
.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32.74px;
    padding: 70px 0 40px;
}
.new .title{
    padding-bottom: 30px;
}
.block_big_card{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
}
.big_card{
    display: flex;
    flex-direction: column;
}
.subtitle{
    font-weight: 600;
    font-size: 20px;
    padding-right: 30px;
    line-height: 27.28px;

}
.description{
    padding: 10px 26px 30px 0px;
    flex:1;
    color: var(--grey-dark);
    font-weight: 400;
    font-size: 14px;
    line-height: 19.1px;
}
.big_card_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.big_card img{
    margin: 0 15px;
}
.btn_choose{
    background-color: var(--orange-light);
    width: 120px;
    height: 40px;
    border-radius: 1000px;
    color: var(--orange-dark);
    font-weight: 600;
    transition: 0.3s;
    margin-right: 20px;
}
.btn_choose:hover{
    background-color: var(--orange-main);
    color: white;
}
.btn_choose_grey{
    background-color: var(--grey-light);
    width: 120px;
    height: 40px;
    border-radius: 1000px;
    color: var(--grey-dark);
    font-weight: 600;
    margin-right: 20px;
}
footer{
    margin: 134px auto 0;
    max-width: 1280px;
    width: 100%;
    max-height: 569px;
    background-color: #464C55;
    color: white;
}
.footer_start{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 395px;
}
.footer_start_list h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding-top: 50px;

}
.footer_start_list a{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    opacity: 70%;
    color: white;
}
.footer_start_list li{
    padding-top: 10px;
}
#footer_start_tel {
    text-align: right;
    margin-top: 30px;
}
#footer_start_tel  a{
    color: white;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    

}
#footer_start_tel p{
    color: #999999;
    font-weight: 400;
    font-size: 15px;
    line-height: 20.46px;
    padding-top: 6px;
}
.footer_start_app{
    padding-top: 50px;
    margin-left: auto;
    display: block;

}
#footer_start_mail{
    text-align: right;
    margin-top: 30px;
}
#footer_start_mail a{
    font-weight: 400;
    font-size: 15px;
    color: white;
}
.footer_middle{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 156px;
    border-bottom: 1px solid rgba(255, 255, 255, 20%);
    padding-bottom: 40px;

}
.footer_middle h3{
    font-weight: 600;
    font-size: 26px;
    margin-top: 93px;
}
.footer_middle p{
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
    padding-top: 12px;
}
.footer_middle_sum p{
    padding-right: 60px;
}
.footer_end{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 55px;
    padding: 40px 0;
}
.footer_end_logo{
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 70%;
    font-size: 16px;
}
.footer_end_logo p:first-child {
    color: #C7C8CB;
    font-weight: 800;
    height: 22px;
    font-size: 24px;
}
.footer_end_list ul{
    display: flex;
    justify-content: space-between;
}
.footer_end_list li{
    display: inline;
}
.footer_end_list a{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
    opacity: 70%;
}
.footer_end_social{
    text-align: right;
}
.footer_end_social_icons{
    color: white;
    opacity: 70%;
}